h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: aquamarine;
  background-color: black;
}

body {
  color: black;
  background-color: azure;
}
